.test {
  border: 1px solid var(--color2);
  border-radius: 4px;
  width: 95%;
  margin: 10px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test:last-child {
  margin-bottom: 10px;
}

.testContent {
  max-width: 90%;
  border: 1px solid var(--color2);
  border-radius: 4px;
  padding: 10px;

  font-size: var(--fontSize); 
}

.testContent img {
  width: 100%;
  /* background-image: url(images/Jazz.png); */
  height: 216px;
  /* background-size: contain; */
}

.testSubmission {
  align-self: flex-end;
  font-size: var(--fontSize);

  padding: 5px 10px 5px;
}

.test form {
  margin: 10px 0;
}

.test form input {
  display: block;
  margin: 2px auto 3px;
}


textarea{
  background-color: var(--backgroundColor);
  border: 1px solid var(--color2);
  font-family: var(--font);
  color: var(--color2);
  padding: 4px;
  border-radius: 4px;
  font-size: var(--fontSize);
}

.uploadFeedback {
  width: 25px;
  height: 25px;
  border: 1px solid var(--color2);
}

.answerFeedback {
  border: 1px solid var(--color2);
  font-family: var(--font);
  color: var(--color2);
  padding: 4px;
  border-radius: 4px;
}


#secSpelet input {
  line-height: 15px;
  font-size: 11px;
}
