/*general css for the whole page: Includes variables, media query and general classes used throughout the webpage*/

:root {
  --backgroundColor: #22273b;
  --backgroundColorTransparent: #22273b8a;
  --color2: #c33629;
  --color3: whitesmoke;
  --fontSize: 16px;
  /* --font: "Overpass Mono", monospace; */
  --font: futura-pt, sans-serif;
  --radius: 4px;

  --widthCircuit: 90px;
  --heightCircuit: calc(var(--widthCircuit) * 1.555);
  /* --heightCircuit: 140px; */
}

body {
  margin: 0px;
  background-color: var(--backgroundColor);
  color: var(--color2);
  font-family: var(--font);
}

.wrapper {
  position: relative;
}

.flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* general classes */
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-weight: 600;
}

h3 {
  font-size: calc(var(--fontSize) * 1.2);
}

p {
  font-size: var(--fontSize);
  font-weight: 400;
}

.button {
  font-family: var(--font);
  background-color: var(--backgroundColor);
  color: var(--color3);
  border: 1px solid var(--color2);
  border-radius: 15%;
  font-size: var(--fontSize);
  cursor: pointer;
}

.textField {
  background-color: var(--backgroundColor);
  font-family: var(--font);
  border-radius: 15%;
  border: none;
  border-bottom: 2px solid var(--color2);
  caret-color: var(--color2);
  color: var(--color3);
  font-size: var(--fontSize);
}

/* CSS for Icon and logo */
#icon {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

#icon > div {
  width: var(--widthCircuit);
  height: calc(var(--heightCircuit) * 0.66);
  /* background-color: var(--backgroundColor);
    border-bottom-right-radius: 50%; */
}

.circuit {
  width: var(--widthCircuit);
  height: var(--heightCircuit);
  background-image: url(../content/graphicResources/circuitBg.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-bottom-right-radius: 100%;
}

.circuit img {
  width: 53%;
  margin-left: calc(var(--widthCircuit) * 0.181);
  margin-top: calc(var(--heightCircuit) * 0.181);
  background-color: var(--backgroundColor);
  border-radius: var(--radius);
}

/* CSS for the Menu */
#menu {
  height: 100vh;
  width: 100vw;
  background-color: var(--backgroundColor);
  padding: 0 3vw;
  position: fixed;
  z-index: 5;
  /* display: none; */
  margin-top: calc(-0.66 * var(--heightCircuit));

  transform: translateX(-100vw);
  -webkit-transform: translateX(-100vw);

  transition: transform 1s ease-out;
  -webkit-transition: transform 1s ease-out;
}

#menuHeader {
  height: calc(var(--heightCircuit) * 0.66);
  padding-left: calc(var(--widthCircuit) - 3vw);
}

#menuOptionContainer {
  height: 12vh;
  position: relative;
  z-index: 15;
}

.menuOptionButton {
  border: 1px solid var(--color2);
  border-radius: 50%;
  height: 8vh;
  width: 8vh;
  flex-shrink: 0;
  /* background-image: url(../content/graphicResources/teamIcon.png); */
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: flex-end;
}

#menuOptionContent {
  height: calc(80vh - var(--widthCircuit));
  padding-top: 1vh;
  overflow: scroll;
}

#menuOptionActions {
  height: 10vh;
}

/* home and gamepage */
#home {
  padding: 0 3vw;
}

.puzzleSubmission {
  font-size: 11px;
  margin: 3px 0;
  text-align: right;
}

.puzzleContent img {
  width: 90%;
  display: block;
  margin: 0 auto 5px;
}

.puzzleContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.puzzleContainer form input {
  margin-bottom: 5px;
}

/* CSS FOR TEAM-PAGE */

#teamName {
  font-size: calc(var(--fontSize) * 2);
}

#availableUsers {
  border-top: 2px solid var(--color2);
  color: var(--color3)
}

#availableUsers > div{
 margin: 3px 0;
 border: 0px;
}
#availableUsers > div > div:last-child{
 border: none;
 color: var(--color2);
}

#submitTeam {
  display: block;
}

#members{
  color: var(--color3)
}
